@font-face {
    font-family: Roboto-Flex;
    src: url(fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
@font-face {
    font-family: Open-sans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
main h2{
    margin: 20px auto;
    font-family: Roboto-Flex;
    font-size: 40px;
    margin-left: 10%;
}
hr {
  border: none;          
  height: 2px;           
  background-color: black; 
  margin: 30px 0;
  width: 30%;
  margin-left: 9%;
  margin-top: -3px;
}
.small{
    font-family: Open-Sans;
    font-weight: bold;
    margin:20px auto;
    margin-left: 10%;
    margin-top: 5%;
}
main p{
    font-size: 20px;
    font-family: Open-Sans;
    margin:20px auto;
    margin-left: 10%;
}

@media(max-width:768px) {
    hr{
        width: 50%;
    }
    #small{
        margin-top: 15%;
    }
    #map{
        width: 75%;
    }
}